$color-white: #fff;
$color-bg: #F8F8F8;
$color-light-purple: #DFC7FF;
$color-purple: #9E78CF;
$color-dark-purple: #1D1825;
$color-green: #57C76F;
$color-border: #3E1671;

$stat-font-size: 1.3em;

.task-text--done{
    color: $color-green;
    text-decoration: line-through;
}