@use "../utils/variables" as *;
@use "../utils/mixins" as *;


.search-task-form{
    @include flex-center;
    height: 40px;
    max-width: 560px;
    margin-right: 20px;
    padding-top: 20px;
    
    .search-task{
        display: flex;
        align-items: center;
        margin: 0 20px;
        border: 4px;
        border-radius: 10px;
        background: $color-white;

        .search-task-input{
        max-width: 360px;
        font-size: $stat-font-size;
        margin-left: 10px;
        border: 0;
        height: 90%;
        outline: none;
        }
        
        .search-task-lupe{
            width: 30px;
            height: 100%;
            border: 0;
            background: $color-white;
            margin-right: 10px;
        }
    }

    .open-modal-btn{
        width: 40px;
        font-size: 1.5em;
        @include border;
        background: $color-light-purple;
    }
}

@include respond-to(mobile){
    .search-task-form{
        height: 30px;
        width: 230px;
        
        .search-task{
            width: 100%;
        }  
        
        .search-task-input{
            width: 150px;
            font-size: 1.1em;
        }

        .open-modal-btn{
            height: 30px;
            font-size: 1.3em;
        }
    }
}