@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.task{
    padding: 60px 20px;
    font-size: $stat-font-size;
    display: inline-block;
    max-width: 560px;
    display: grid;
    justify-content: center;

    &-item{
        @include flex-center;
        @include border;
        align-items: center;
        width: 470px;
        height: 76px;
        background: $color-bg;
        justify-content: space-between;
        margin-top: 20px ;
        transition: opacity 0.5s, height 0.5s, margin 0.5s, padding 0.5s;

        &-right{
            @include flex-center;
            align-items: center; 
            margin-right: 30px;
            opacity: 0;

            .del-btn{
                font-size: 0.9em;
                width: 28px;
                height: 28px;
                background: $color-dark-purple;
                color: $color-white;
                border-radius: 5px;
                border: 0;
             }

        }

        &:hover .task-item-right{
            transition: all 0.3s ease;
            opacity: 1;
        }

        &-left{
            margin-left: 20px;
        }
    }

    &-checkbox{
        width: 28px;
        height: 28px;
        margin: 0 10px;
        accent-color: $color-dark-purple;
    }
    

    &-text{
        max-width: 200px;
        word-break: break-all;
        transition: color 0.4s, text-decoration 0.4s;
    }

    
}