@use "../utils/mixins" as *;

body{
    background: var(--bg-color);
}

@include respond-to(tablet){
    body{
        background: green;
    }
}

@include respond-to(mobile){
    body{
        background: red;
    }
}