:root {
  --bg-color: linear-gradient(to bottom, #DFC7FF, #9E78CF);
  --color-item: #F8F8F8;
  --color-btn-bg: #1D1825;
  --color-btn-img: #fff;
  --color-font: #000;
  --color-switch: #DFC7FF;
}

:root.dark-theme {
  --bg-color: #15101C;
  --color-item: #15101C;
  --color-btn-bg: #DFC7FF;
  --color-btn-img: #15101C;
  --color-font: #fff;
  --color-switch: #1D1825;
}

.page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.page__container {
  height: 75%;
  margin: 5%;
  padding: 32px 24px;
  border-radius: 16px;
  background: #1D1825;
  overflow: auto;
  scrollbar-width: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page__container {
    width: 500px;
  }
}
@media screen and (max-width: 767px) {
  .page__container {
    width: 250px;
  }
}
body {
  background: var(--bg-color);
}

.search-task-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 40px;
  max-width: 560px;
  margin-right: 20px;
  padding-top: 20px;
}
.search-task-form .search-task {
  display: flex;
  align-items: center;
  margin: 0 20px;
  border: 4px;
  border-radius: 10px;
  background: #fff;
}
.search-task-form .search-task .search-task-input {
  max-width: 360px;
  font-size: 1.3em;
  margin-left: 10px;
  border: 0;
  height: 90%;
  outline: none;
}
.search-task-form .search-task .search-task-lupe {
  width: 30px;
  height: 100%;
  border: 0;
  background: #fff;
  margin-right: 10px;
}
.search-task-form .open-modal-btn {
  width: 40px;
  font-size: 1.5em;
  border-width: 2px;
  border-radius: 10px;
  border-color: #3E1671;
  background: #DFC7FF;
}

@media screen and (max-width: 767px) {
  .search-task-form {
    height: 30px;
    width: 230px;
  }
  .search-task-form .search-task {
    width: 100%;
  }
  .search-task-form .search-task-input {
    width: 150px;
    font-size: 1.1em;
  }
  .search-task-form .open-modal-btn {
    height: 30px;
    font-size: 1.3em;
  }
}
.task {
  padding: 60px 20px;
  font-size: 1.3em;
  width: 560px;
  display: grid;
  justify-content: center;
}
.task-item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-width: 2px;
  border-radius: 10px;
  border-color: #3E1671;
  color: var(--color-font);
  align-items: center;
  width: 470px;
  height: 76px;
  background: var(--color-item);
  justify-content: space-between;
  margin-top: 20px;
  transition: opacity 0.5s, height 0.5s, margin 0.5s, padding 0.5s;
}
.task-item-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  opacity: 0;
}
.task-item-right .del-btn {
  font-size: 0.9em;
  width: 28px;
  height: 28px;
  background: var(--color-btn-bg);
  color: var(--color-btn-img);
  border-radius: 5px;
  border: 0;
}
.task-item:hover .task-item-right {
  transition: all 0.3s ease;
  opacity: 1;
}
.task-item-left {
  margin-left: 20px;
}
.task-item.removing {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.task-checkbox {
  width: 28px;
  height: 28px;
  margin: 0 10px;
  accent-color: var(--color-btn-bg);
}
.task-text {
  max-width: 200px;
  word-break: break-all;
  transition: color 0.4s, text-decoration 0.4s;
}
.task-text.completed {
  color: #57C76F;
  text-decoration: line-through;
}

@media screen and (max-width: 767px) {
  .task {
    max-width: 100%;
    font-size: 1.1em;
  }
  .task-item {
    width: 100%;
  }
  .task-item-right {
    margin-right: 5px;
  }
  .task-item-right .del-btn {
    width: 20px;
    height: 20px;
    font-size: 0.7em;
  }
  .task-checkbox {
    width: 20px;
    height: 20px;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
}
.modal-task {
  background: #1D1825;
  padding: 20px;
  border-width: 2px;
  border-radius: 10px;
  border-color: #3E1671;
  min-width: 300px;
  height: 200px;
  margin-bottom: 10%;
}
.modal-task-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-task-form .modal-task-label {
  color: #fff;
  font-size: 1.69em;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.modal-task-form .modal-task-input {
  border: 0;
  border-radius: 10px;
  width: 280px;
  height: 40px;
  padding-left: 20px;
  font-size: 1.3em;
  outline: none;
}
.modal-task-form .modal-task-btns {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.modal-task-form .modal-task-btns .modal-task-cancel {
  background: rgba(255, 0, 0, 0.768627451);
  font-size: 1.17em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
.modal-task-form .modal-task-btns .modal-task-add {
  background: #57C76F;
  font-size: 1.17em;
  color: #000;
  border: 0;
  border-radius: 5px;
}

.theme-toggle {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: var(--color-switch);
  color: var(--color-font);
  border: 0;
  position: fixed;
  z-index: 1000;
  right: 25px;
  bottom: 25px;
}

@media screen and (max-width: 767px) {
  .theme-toggle {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
  .theme-svg {
    height: 20px;
    width: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
